<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study_online.mapper.BarrageMapper">
  <resultMap id="BaseResultMap" type="com.study_online.pojo.Barrage">
    <id column="barrage_id" jdbcType="VARCHAR" property="barrageId" />
    <result column="msg" jdbcType="VARCHAR" property="msg" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="time" jdbcType="DOUBLE" property="time" />
    <result column="catalog_id" jdbcType="VARCHAR" property="catalogId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    barrage_id, msg, color, time, catalog_id
  </sql>
  <select id="selectByExample" parameterType="com.study_online.pojo.BarrageExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from barrage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from barrage
    where barrage_id = #{barrageId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from barrage
    where barrage_id = #{barrageId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.study_online.pojo.BarrageExample">
    delete from barrage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.study_online.pojo.Barrage">
    insert into barrage (barrage_id, msg, color, 
      time, catalog_id)
    values (#{barrageId,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{time,jdbcType=DOUBLE}, #{catalogId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.study_online.pojo.Barrage">
    insert into barrage
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="barrageId != null">
        barrage_id,
      </if>
      <if test="msg != null">
        msg,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="catalogId != null">
        catalog_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="barrageId != null">
        #{barrageId,jdbcType=VARCHAR},
      </if>
      <if test="msg != null">
        #{msg,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DOUBLE},
      </if>
      <if test="catalogId != null">
        #{catalogId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.study_online.pojo.BarrageExample" resultType="java.lang.Long">
    select count(*) from barrage
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update barrage
    <set>
      <if test="record.barrageId != null">
        barrage_id = #{record.barrageId,jdbcType=VARCHAR},
      </if>
      <if test="record.msg != null">
        msg = #{record.msg,jdbcType=VARCHAR},
      </if>
      <if test="record.color != null">
        color = #{record.color,jdbcType=VARCHAR},
      </if>
      <if test="record.time != null">
        time = #{record.time,jdbcType=DOUBLE},
      </if>
      <if test="record.catalogId != null">
        catalog_id = #{record.catalogId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update barrage
    set barrage_id = #{record.barrageId,jdbcType=VARCHAR},
      msg = #{record.msg,jdbcType=VARCHAR},
      color = #{record.color,jdbcType=VARCHAR},
      time = #{record.time,jdbcType=DOUBLE},
      catalog_id = #{record.catalogId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.study_online.pojo.Barrage">
    update barrage
    <set>
      <if test="msg != null">
        msg = #{msg,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DOUBLE},
      </if>
      <if test="catalogId != null">
        catalog_id = #{catalogId,jdbcType=VARCHAR},
      </if>
    </set>
    where barrage_id = #{barrageId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.study_online.pojo.Barrage">
    update barrage
    set msg = #{msg,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      time = #{time,jdbcType=DOUBLE},
      catalog_id = #{catalogId,jdbcType=VARCHAR}
    where barrage_id = #{barrageId,jdbcType=VARCHAR}
  </update>
</mapper>